body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f4f6;
}

header {
    background: #111827;
    color: white;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

#fechaHora {
    margin-top: 5px;
    font-size: 14px;
}

.container {
    background: white;
    width: 650px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
}

.btn-salir {
    background: #dc2626;
}

.btn-salir:hover {
    background: #b91c1c;
}

.resultado {
    margin-top: 20px;
    font-weight: bold;
    color: green;
    line-height: 1.6;
}

h2 {
    margin-top: 40px;
    color: #111827;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #111827;
    color: white;
    padding: 12px;
    font-size: 15px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

tr:hover {
    background: #f1f5f9;
}

@media (max-width: 700px) {
    .container {
        width: 90%;
    }

    table {
        font-size: 14px;
    }
}